.bd-sidebar-header, 
[aria-controls="bd-settings-tab"], 
[aria-controls="bd-emotes-tab"], 
[aria-controls="bd-customcss-tab"], 
[aria-controls="bd-plugins-tab"],
[aria-controls="bd-themes-tab"], 
[aria-controls="bd-themes-tab"]      + .separator-2wx7h6, 
[aria-controls="bd-pluginrepo-tab"], 
[aria-controls="bd-pluginrepo-tab"] + .separator-2wx7h6, 
[aria-controls="bd-themerepo-tab"] + .separator-2wx7h6, 
[aria-controls="bd-themerepo-tab"]{
  order: -1;
}
.sidebarRegion-1VBisG, .sidebarRegionScroller-FXiQOh {
    justify-content: unset;
    flex: unset
}
.contentColumn-1C7as6, .customColumn-2n-oKU, .hero-1aNo0v {
    max-width: unset;
}
.accountProfileCard-lbN7n- {
    max-width: 750px;
}
.notificationSettings-1U0JsJ {
    max-width: 45%;
}