/*better invite by maendisease*/
.guildIcon-3ZfRfI[style*='410787888507256842']::after{background:url(https://mwittrien.github.io/BetterDiscordAddons/Library/_res/BDFDB.banner.png)}
.guildIcon-3ZfRfI[style*='935246863349735444']::after{background:url(https://i.imgur.com/nWjjk2a.jpeg)}
.guildIcon-3ZfRfI[style*='927517029135695893']::after{background:url(https://i.imgur.com/Ocvbo8s.png)}
.guildIcon-3ZfRfI[style*='920098544222871553']::after{background:url(https://i.imgur.com/9f0RYzz.png)}
.guildIcon-3ZfRfI[style*='894309668816560128']::after{background:url(https://i.imgur.com/ohYh1S3.png)}
.guildIcon-3ZfRfI[style*='396807116142149636']::after{background:url(https://i.imgur.com/ohYh1S3.png)}
.guildIcon-3ZfRfI[style*='901774051318591508']::after{background:url(https://i.imgur.com/kubC7Ir.jpeg)}
.guildIcon-3ZfRfI[style*='280806472928198656']::after{background:url(https://i.imgur.com/aWhYoEO.png)}
.guildIcon-3ZfRfI[style*='679501581661896774']::after{background:url(https://i.imgur.com/Zh5iJpw.png)}
/*betterInvites*/
/*background*/
.wrapper-1HIH0j {
  background: var(--background-secondary-alt);
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  min-height: 173px;
  max-width: 328px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transition: box-shadow .2s ease-out, transform .2s ease-out, background .2s ease-out, -webkit-box-shadow .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper-1HIH0j:focus,
.wrapper-1HIH0j:hover {
  background: var(--background-tertiary);
  transform: translateY(-1px);
  -webkit-transform: translateY(-1px);
  box-shadow: var(--elevation-high);
  -webkit-box-shadow: var(--elevation-high)
}

.wrapper-1HIH0j .content-1r-J1r {
  position: relative;
  min-height: 113px;
  z-index: 1
}

.wrapper-1HIH0j .header-3anOjb {
  position: relative;
  z-index: 2
}

.wrapper-1HIH0j .inviteSplash-2nkLRX {
  position: absolute;
  border-radius: 8px 8px 0 0;
  height: 87px;
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper-1HIH0j .inviteSplashImage-3f6SDQ {
  transition: transform .2s ease-out, -webkit-transform .2s ease-out
}

.wrapper-1HIH0j:hover .inviteSplashImage-3f6SDQ {
  transform: scale(1.01) translateZ(0) !important;
  -webkit-transform: scale(1.01) translateZ(0) !important
}

.BetterInvites-guildBanner {
  max-height: 87px;
  margin: -87px 0;
  top: 43px;
  right: 16px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  margin-bottom: 0 !important;
  width: 328px
}

.BetterInvites-guildBanner img {
  max-height: 87px !important;
  border-radius: 8px 8px 0 0 !important;
  -webkit-transition: transform .2s ease-out;
  transition: transform .2s ease-out
}

.wrapper-1HIH0j:hover .BetterInvites-guildBanner img {
  transform: scale(101%)
}

.guildIcon-3ZfRfI {
  position: absolute;
  top: 17px;
  box-shadow: 0 0 0 4px var(--background-secondary-alt);
  background-color: var(--background-secondary-alt);
  width: 40px;
  height: 40px;
  border-radius: 12px;
  -webkit-transition: box-shadow .2s ease-out, background .2s ease-out;
  transition: box-shadow .2s ease-out, background .2s ease-out
}

.wrapper-1HIH0j:hover .guildIcon-3ZfRfI {
  box-shadow: 0 0 0 4px var(--background-tertiary)
}

.wrapper-1HIH0j .guildInfo-UCKhrV {
  justify-content: initial;
  transform: translate(0, 35px);
  width: 0
}

.wrapper-1HIH0j .statusCounts-3GLDH6 {
  font-weight: 400;
  font-size: 12px
}

.wrapper-1HIH0j .statusOffline-2R-ArP {
  background-color: var(--interactive-normal)
}

.wrapper-1HIH0j .BetterInvites-iconWrapper img {
  width: 18px;
  height: 18px !important
}

.wrapper-1HIH0j .BetterInvites-iconWrapper {
  position: relative;
  top: 50px;
  height: 18px
}

.BetterInvites-guildDescription {
  width: 400px
}

.BetterInvites-guildDescription .markup-eYLPri {
  margin: 76px 0 0 0 !important;
  color: var(--header-secondary);
  font-size: 14px;
  line-height: 18px;
  position: relative
}

.wrapper-1HIH0j .button-2b4VEQ {
  position: absolute;
  right: 0;
  top: 17px;
  width: unset !important;
  height: 32px;
  font-weight: 600;
  color: var(--interactive-normal);
  background-color: var(--background-primary) !important;
  -webkit-box-shadow: var(--elevation-stroke);
  box-shadow: var(--elevation-stroke);
  border-radius: 4px;
  opacity: 0
}

.wrapper-1HIH0j:hover .button-2b4VEQ {
  opacity: 1
}

.wrapper-1HIH0j .button-2b4VEQ:hover {
  color: var(--interactive-hover);
  filter: brightness(105%)
}

.wrapper-1HIH0j .buttonSize-3QlBTl .contents-3ca1mk {
  position: relative;
  text-overflow: unset;
  overflow: visible
}

.guildIcon-3ZfRfI::after {
  display: block;
  position: relative;
  content: "";
  z-index: -1;
  bottom: calc(87px - 26px);
  right: 16px;
  width: 328px;
  height: 87px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
  -webkit-transition: background-size .2s ease;
  transition: background-size .2s ease-out
}

.wrapper-1HIH0j:hover .guildIcon-3ZfRfI::after {
  background-size: 101% !important
}


/*Profile banner skin by maendisease*/
.profileColors-3Y0XaR {
  position: relative;
}

.overlayBackground-1KgwVi {
  margin: 28px 8px 8px;
}

.theme-dark .profileColors-3Y0XaR {
  --profile-body-background-color: rgba(0, 0, 0, 0.45);
}

.theme-light .profileColors-3Y0XaR {
  --profile-body-background-color: rgba(255, 255, 255, 0.45);
}

/* Avatar */
.userProfileInnerNonPremium-1XjSjn .avatarWrapperNormal-1tQ3Je {
  background-color: var(--profile-body-background-color);
  box-shadow: var(--elevation-medium);
}

.userProfileInnerNonPremium-1XjSjn .avatarHoverTarget-l77PhT,
.userProfileInnerNonPremium-1XjSjn .avatarHint-2g3Mcd {
  padding: 6px;
}

.avatarWrapper-3y0KZ1 circle {
  fill: var(--profile-avatar-border-color);
}

.avatarWrapper-3y0KZ1 rect[style] {
  opacity: 1;
  fill: var(--profile-gradient-primary-color);
}

/* Banner */
.userProfileInnerNonPremium-1XjSjn .bannerSVGWrapper-qc0szY {
  height: 100%;
  position: absolute;
  z-index: 0;
}

.userProfileInnerNonPremium-1XjSjn .bannerSVGWrapper-qc0szY foreignObject {
  mask: none;
  transform: translateY(-120px)
}

.userProfileInnerNonPremium-1XjSjn .popoutBanner-16rVDY {
  height: 100vh;
}

/* Body */
.userProfileInnerNonPremium-1XjSjn .overlayBackground-1KgwVi {
  margin-top: calc(28px + 60px);
}

.userPopoutInner-1hXSeY:not(.userPopoutInnerWithoutTheme-3IBtvN.userPopoutInnerWithBanner-1jusp9) .overlayBackground-1KgwVi {
  box-shadow: var(--elevation-medium);
}

/* Badges */
.userProfileInnerNonPremium-1XjSjn .profileBadges-31rDHI {
  top: calc(12px + 60px);
}

.profileBadges-31rDHI:not(.containerWithContent-2_V0PM) {
  padding-top: 4px;
  padding-bottom: 4px;
}

.userPopoutInner-1hXSeY .profileBadges-31rDHI {
  box-shadow: var(--elevation-medium);
}

.profileColors-3Y0XaR .messageInputContainer-2rGDH8 {
  border: none;
}

/*BD Addon min by maendisease*/
:root {
  --bdAddonMini-bg-checked: var(--background-tertiary);
  --bdAddonMini-bg-unchecked: var(--background-secondary);
  --bdAddonMini-bg-unchecked-hover: var(--background-modifier-hover);
}

.bd-addon-list.bd-grid-view {
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.bd-addon-list .bd-addon-card {
  position: relative;
  margin-bottom: 8px;
  background: 0 0;
  overflow: visible;
}

.bd-addon-list .bd-addon-header {
  background: 0 0;
  padding-left: 0;
}

.bd-addon-list .bd-addon-card:hover .bd-addon-header {
  max-width: calc(100% - 112px);
}

.bd-addon-list .bd-addon-card>:not(.bd-addon-header),
.bd-addon-list .bd-addon-header .bd-icon,
.bd-addon-list .bd-footer .bd-addon-button {
  display: none
}

.bd-addon-list .bd-title {
  margin-left: 32px;
  z-index: 1;
}

.bd-addon-list .bd-title .bd-meta {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* footer */

.bd-addon-list .bd-addon-card .bd-footer {
  position: absolute;
  padding: 0 16px 0 8px;
  height: 100%;
  display: flex;
  width: 100%;
  overflow: visible;
  justify-content: flex-end;
}

.bd-addon-list .bd-footer>* {
  z-index: 3;
}

.bd-addon-list .bd-addon-card:hover .bd-controls {
  display: flex;
}

.bd-addon-list .bd-addon-card:hover .bd-controls .bd-addon-button {
  display: flex;
}

.bd-addon-list .bd-footer .bd-links {
  top: 53px;
  position: absolute;
  left: 8px;
}

.bd-addon-list.bd-grid-view .bd-footer .bd-links {
  top: 63px;
}

.bd-addon-list .bd-footer .bd-link {
  color: var(--interactive-normal);
}

.bd-addon-list .bd-footer .bd-link:hover {
  color: white;
}

/* controls */

.bd-addon-list .bd-controls>.bd-addon-button,
.bd-addon-list .bd-controls>.bd-addon-button:first-of-type {
  border-radius: 4px;
}

.bd-addon-list .bd-controls>.bd-button:last-of-type {
  border-radius: 4px;
}

.bd-addon-list .bd-button:not(:hover) {
  background: 0 0;
}

.bd-addon-list .bd-controls>.bd-addon-button svg {
  fill: var(--interactive-normal);
}

.bd-addon-list .bd-controls>.bd-addon-button:hover svg {
  fill: white;
}

.bd-addon-list .bd-addon-button.bd-button-danger:hover {
  background: hsl(359, calc(var(--saturation-factor, 1)*82.6%), 59.4%);
}

.bd-addon-list .bd-addon-button.bd-button-danger svg {
  fill: hsl(359, calc(var(--saturation-factor, 1)*82.6%), 59.4%);
  transform: scale(1.2);
}

.bd-addon-list .bd-addon-button.bd-button-danger:hover svg {
  fill: white;
}

/* description */

.bd-addon-list .bd-addon-card .bd-description-wrap {
  transform: scale(1);
  transition: transform .2s;
  transition-delay: 2s;
}

@keyframes bdDescriptionVisibility {
  to {
      visibility: visible;
  }
}

@keyframes tooltipBottom {
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.bd-addon-list .bd-addon-card:hover .bd-description-wrap,
.bd-addon-list .bd-addon-card:hover .bd-footer .bd-links .bd-addon-button {
  display: flex;
  opacity: 0;
  transform: scale(.9);
  transform-origin: top center;
  animation: tooltipBottom 0.1s 1s forwards, bdDescriptionVisibility 0s 1s forwards;
  visibility: hidden;
}

.bd-addon-list .bd-description-wrap {
  position: absolute;
  flex: unset;
  padding: unset;
  margin: 48px 0 0 -4px;
  max-width: 300px;
  z-index: 3;
  background-color: var(--background-floating);
  -webkit-box-shadow: var(--elevation-high);
  box-shadow: var(--elevation-high);
  border-radius: 5px;
}

.bd-addon-list.bd-grid-view .bd-description-wrap {
  margin-top: 58px;
}

.bd-addon-list .bd-description {
  margin-bottom: unset;
  padding: calc(8px + 26px) 12px 8px 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

#app-mount .bd-addon-list .banner~.bd-description {
  padding-top: 0;
}

.bd-addon-list.bd-grid-view .bd-description {
  padding-top: calc(8px + 26px);
}

/* switch */

.bd-addon-list .bd-switch {
  order: -1;
  position: static;
}

.bd-addon-list .bd-switch input {
  top: 0;
}

.bd-addon-list .bd-switch .bd-switch-body {
  pointer-events: none;
  z-index: 1;
  transform: translateX(16px);
}

.bd-addon-list .bd-switch.bd-switch-checked::after,
.bd-addon-list .bd-switch:not(.bd-switch-checked)::after,
.bd-addon-list .bd-switch:not(.bd-switch-checked)::before {
  border-radius: 5px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* checked */
.bd-addon-list .bd-switch.bd-switch-checked::after {
  background: var(--bdAddonMini-bg-checked);
}

/* not checked */
.bd-addon-list .bd-addon-card .bd-switch:not(.bd-switch-checked)::after {
  background: var(--bdAddonMini-bg-unchecked);
}

.bd-addon-list .bd-addon-card .bd-switch-disabled {
  opacity: 1;
  filter: none;
}

.bd-addon-list .bd-addon-card .bd-switch-disabled .bd-switch-body {
  opacity: 0.5;
}

.bd-addon-list .bd-addon-card .bd-switch.bd-switch-disabled::before {
  border: 1px solid transparent;
}

.bd-addon-list .bd-addon-card .bd-switch.bd-switch-disabled::after {
  background: var(--info-danger-background);
  border: 1px solid var(--info-danger-foreground);
}

/* not checked hover */
.bd-addon-list .bd-addon-card:hover .bd-switch:not(.bd-switch-checked)::after {
  background: var(--bdAddonMini-bg-unchecked-hover);
}

.bd-addon-list .bd-addon-card:hover .bd-switch.bd-switch-disabled::after {
  background: var(--info-danger-background);
}

/* not checked hover dim */
.bd-addon-list .bd-addon-card .bd-switch:not(.bd-switch-checked)::before {
  z-index: 1;
  background: var(--bdAddonMini-bg-unchecked);
  opacity: 0.4;
}

.bd-addon-list .bd-addon-card:hover .bd-switch:not(.bd-switch-checked)::before {
  display: none;
}

/* banner */
.bd-description-wrap .banner {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding: 8px;
  border-radius: 4px;
  border-width: 1px;
}

.banner.banner-danger {
  border-color: var(--info-danger-foreground);
  background: var(--info-danger-background);
  color: var(--info-danger-text);
}

.banner-danger .bd-icon {
  fill: var(--info-danger-foreground);
}

.banner-danger .bd-icon path[d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"] {
  d: path("M10 0C4.486 0 0 4.486 0 10C0 15.515 4.486 20 10 20C15.514 20 20 15.515 20 10C20 4.486 15.514 0 10 0ZM9 4H11V11H9V4ZM10 15.25C9.31 15.25 8.75 14.691 8.75 14C8.75 13.31 9.31 12.75 10 12.75C10.69 12.75 11.25 13.31 11.25 14C11.25 14.691 10.69 15.25 10 15.25Z");
}

/* bdaddonmini */
.bd-addon-list .bd-addon-card:hover .bd-description-wrap {
  flex-direction: column;
}

.bd-description-wrap .banner {
  margin: 32px 8px 8px 8px;
}
/* BorderRoles Made by <@750099582779916469> */
:root{
    --roles-roundness: 0; /* change the 0 to any other number if you want the roles to be fully round */
  
    --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px)
  }
  .role-2TIOKu {
    transform: translate(0);
    border: 0;
    border-radius: var(--roles-roundness-calc);
  }
  .role-2TIOKu .roleRemoveIcon-387wKV {
    margin: 0;
    left: unset;
    transform: translate(50%,-50%);
  }
  .role-2TIOKu .roleRemoveButton-17oXnT{position: static}
  .role-2TIOKu .roleCircle-3K9O3d:before {
    content: '';
    top: 0;left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: absolute;
    background: inherit;
    border-radius: var(--roles-roundness-calc);
    border: 2px solid transparent;
    -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
  }


/* edited text by <@755436063828213821> */
.timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS) time::after {
        content: " (" attr(aria-label) ")";
        color: var(--text-muted);
        font-size: 0.625rem;
        font-weight: 400;
        line-height: 1;
        text-transform: lowercase;
}

.edited-1v5nT8:not(.message-translate-indicator) {
    display: none;
}



/* Make Discord's Toasts look like BD's FIXED by <@538487970408300544> */
.toast-1DEQGy,
.toast-q3Y4wI {
    background: #43b581 !important;
    transform: translateY(10px);
    padding: 6px 10px 6px 10px !important;
    border-radius: 5px;
    box-shadow: var(--elevation-medium), var(--elevation-stroke);
    font-weight: 500;
    color: var(--header-primary);
    opacity: 1;
    margin-top: 10px;
}

.toast-1DEQGy .icon-q80NJC > path,
.toast-q3Y4wI .icon-2QUmmw > path {
    d: none !important;
}

.toast-1DEQGy .icon-q80NJC,
.toast-q3Y4wI .icon-2QUmmw {
    height: 20px !important;
    width: 20px !important;
    margin-top: 0 !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTVsLTUtNSAxLjQxLTEuNDFMMTAgMTQuMTdsNy41OS03LjU5TDE5IDhsLTkgOXoiLz48L3N2Zz4=);
    background-size: 20px 20px;
}

.toast-1DEQGy .colorHeaderPrimary-26Jzh-,
.toast-q3Y4wI .colorHeaderPrimary-jN_yGr {
    font-size: 14px !important;
    line-height: 20px !important;
}